header a,h1,h2{
    color:#fff;
}

header .top .top-nav{
    display: grid;
    grid-template-columns: 12.5rem 1fr 12.5rem;
    place-content: space-between;
    place-items: center;
    align-items: center;
    padding-top: 0.625rem;
    height: 3.875rem;
}
header .top .top-nav input{
    outline: none;
    width: 25rem;
    height: 2.25rem;
    background-color: rgb(241, 241, 241);
    font-size: 1rem;
    /* color:#666; */
}

header .sale img{
    height: 17.25rem;
    width: 100%;
}


header .nav{
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(53, 53, 53);
    height: 3.125rem;
}

header .nav .nav-list{
    display: flex;
    height: 2.8125rem;
    align-items: center;
    font-size: 0.4rem;
}

header .nav .nav-list a{
    font-size: 0.8rem;
    padding: 0 1rem;
}

header .nav .nav-list a:hover{
    color:red;
}